*:focus {outline:none !important}
.container-form {
    background-color: #1a1a1a;
    width: 400px;
    clear: both;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    padding: 30px 10px 30px 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.big-logo {
    height: 100px;
    width: auto;
    margin: 0px 10px 10px 10px;
}

.container-form input {
    width: 225px;
    clear: both;
}

.rounded-input {
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid rgb(19, 18, 18);
    transition: .3s border-color;
}
.rounded-input:hover {
    border: 1px solid #aaa;
}

.submit-button {
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;   
    border: none;
    background-color: #7342A3;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 10%; 
    font-size: 16px;
}

.submit-button:hover {
    background-color: #ec911b;
}

@media screen and (max-width: 700px) {
    .container-form {
        width: 90%;
    }

    .big-logo {
        height: 60px;
        width: auto;
    }

    .box-heading {
        font-size: 20px;
    }
}