* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #2c2c2c;
}

#logo {
    width: 70px;
    height: 70px;
    margin-right: 0.5em;
}

.container {
    max-width: 90%;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    background-color: #000000;
    height: 100px;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.nav-item {
    margin-left: 25px;
    margin-right: 25px;
}

.home-link,
.nav-link {
    color: #ffffff;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

.home-link {
    color: #7342A3;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 2px;
}

.home-link:focus,
.home-link:hover {
    color: #ffffff;
}

.nav-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

.nav-link:focus,
.nav-link:hover {
    background-color: #7342A3;
}

.nav-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    margin:2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2 ease-in-out;
    background-color: #7342A3;
}

.nav-toggle:hover .icon-bar {
    background-color: #ffffff;
}

#navbar.opened .nav-toggle .icon-bar:first-child,
#navbar.opened .nav-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .nav-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .nav-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .nav-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar.opened .nav-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.nav-menu {
    position: fixed;
    top: 100px;
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0; 
}

.nav-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(115, 66, 163, 0.3);
}

#navbar.opened .nav-links {
    padding: 1em;
    max-height: none;
}

@media screen and (min-width: 1000px) {
    .nav-toggle {
        display: none;
    }

    #navbar .nav-menu,
    #navbar.opened .nav-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        height: 100%;
    }

    #navbar .nav-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        width: 5%;
        height: 5%;
    }

    .home-link {
        font-size: 5vw;
    }
}