.movieDisplay {
  width: 80%;
  background-color: #141414;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#displayHeading {
  font-size: large;
}

.search-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px 20px 0px;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-container input,
select {
  border-radius: 15px;
  background-color: #fff;
  height: 50px;
  font-size: 24px;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}
select:hover {
  cursor: pointer;
}
#personSearch,
#moodDrop {
  width: 500px;
}
#moodDrop:hover {
  cursor: pointer;
}
#search {
  width: 150px;
  color: #000;
  background-color: #ec911b;
}
#search:hover {
  background-color: #ffd293;
  cursor: pointer;
}

.movieBlock {
  padding: 10px;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.movieBlock:hover {
  transition: 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
.moviePoster {
  position: relative;
}

.moreInfo {
  position: absolute;
  width: 200px;
  margin-left: 0;
  margin-top: -280px;
  opacity: 0;
  color: #fff;
  padding: 5px;
  transform: rotateY(180deg);
}

.movieTitle {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 7px;
}

.synopsis {
  font-size: 15px;
  padding-bottom: 10px;
  height: 150px;
  overflow-y: scroll;
}

.Button {
  width: 150px;
  margin-top: 10px;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  background: transparent;
  padding: 10px;
  position: relative;
}

input[type="image"] {
  width: 50px;
  height: 50px;
}

.Button:hover {
  background-color: #7342a3;
  border: 2px solid #7342a3;
}

.movieBlock.interested .moreInfo {
  opacity: 1;
  transition: 1s;
  transform-style: preserve-3d;
}

.movieBlock.interested .moviePoster {
  opacity: 0;
  transition: 1s;
  transform-style: preserve-3d;
}
